[submodule "RPCN_PART_B/cartographer_ros"]
	path = RPCN_PART_B/cartographer_ros
	url = https://github.com/cartographer-project/cartographer_ros
[submodule "RPCN_PART_B/https:/github.com/cartographer-project/cartographer_ros/tree/c138034db0c47fe0ea5a2abe516acae02190dbf5"]
	path = RPCN_PART_B/https:/github.com/cartographer-project/cartographer_ros/tree/c138034db0c47fe0ea5a2abe516acae02190dbf5
	url = https://github.com/cartographer-project/cartographer_ros
